crosshair
{
	position: absolute;
	opacity: 1;
	z-index: -1;
	align-items: flex-end;
	background-color: rgba(#fff, 1);
	//mix-blend-mode: lighten;
	width: 6px;
	height: 6px;
	top: 50%;
	left: 50%;
	border-radius: 100px;
	box-shadow: 0px 0px 1.5px 1.5px black;
	transform: translate( -50% -50% );
	transition: all 0.2s linear;
}