DebugCommandsPanel
{
  position: relative;
  width: 700px;
  height: 90%;
  background-image: linear-gradient(rgba(black, 1), rgba(black, 0));
  backdrop-filter: blur(10);
  opacity: 1;
  transform: translateX(-100%);
  transition: all 0.35s ease-in-out;
  flex-direction: column;
  pointer-events: none;
  
  &.open
  {
    transform: translateX(0);
    pointer-events: all;
  }

  .header
  {
    height: 35px;
    padding-left: 5px;
    background-color: rgba(black, 0.8);
    font-size: 24px;
    color: white;
    font-family: Poppins;
    font-weight: 250;
    padding-bottom: 5px;
  }

  .command-button
  {
    margin: 5px;
    width: 140px;
    height: 25px;
    min-height: 30px;
    background-color: rgba(grey, 0.5);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: Poppins;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    transition: all 0.05s linear;

    &:hover {
      background-color: rgba(grey, 0.7);;
    }
    &:active{
      background-color: rgba(grey, 1);;
    }
  }
}